[data-type="two_columns"] .st-block__inner {
    display: flex;
    flex-wrap: wrap;
}

[data-type="two_columns"] .st-block__messages {
    width:100%;
}

[data-type="two_columns"] .st-block__editor {
    flex: 1 1 49%;
    border-right:1px dotted #dddddd !important;
}

[data-type="two_columns"] .st-block__editor:last-child {
    border-right: none;
}
